/* Custom page footer */
html {
  height: 100%;
}
body {
  background-size: cover;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}
h1 {
  font-size: 7em !important;
}
a {
  color: #fff;
  text-decoration: underline;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff !important;
}
:-ms-input-placeholder {  /* Internet Explorer 10+ */
    color: #fff !important;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 25px;
  color: #fff;
  font-size: 0.9em;
}

.navbar-default, 
.navbar-form {
  background-color: transparent;
  border: none;
  border-color: transparent;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
}

.btn {
  background-color: transparent !important;
  border: 0 !important;
  color: #fff;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active {
  border-color: transparent;
  box-shadow: none;
  outline: none !important;
}

.form-control.input {
  border: 0;
  border-radius: 0px;
  border-bottom: 2px solid #fff;
  box-shadow: none;
  background-color: transparent;
  color: #fff;
  display: inline-block;
  width: 300px;
}
.form-control.input.empty {
  opacity: 0.65;
}

.form-control.select {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  display: inline-block;
  padding: 6px;
  max-width: 35px;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

.jumbotron {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  min-width: 65%;
  min-height: 480px;
}
.jumbotron .welcome {
  text-align: center;
  padding-bottom: 30px;
}
.jumbotron .welcome small {
  color: #fff;
}

.glyphicon-search {
  font-size: 1.5em;
  vertical-align: middle;
}

.carousel-control {
  background: none !important;
}
.carousel-control.left,
.carousel-control.right {
  top: 60%;
  height: 120px;
}

.carousel-inner .details {
  color: #fff;
}

/* Google Autocomplete dropdown skins */
.pac-container {
  background-color: transparent;
  border: 2px solid #fff;
  border-top: none;
  border-radius: 0;
}

.pac-item, 
.pac-matched, 
.pac-item-query {
  color: #fff;
}

.pac-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.pac-item:hover .pac-matched,
.pac-item:hover .pac-item-query,
.pac-item:hover {
  color: #fff;
}

.pac-container:after{
    display: none;
}
/* End Google Autocomplete dropdown skins */

.ng-invalid.ng-dirty {
  opacity: 0.65;
}

#city {
  margin-left: 10px;
}

#weekDiv #slider {
  width: 65%;
  min-width: 350px;
  margin: auto;
}