<nav class="navbar navbar-default" role="navigation">
  <form name="form" class="navbar-form navbar-left" role="form" novalidate>
    <select id="units" class="form-control select" required
            ng-model="search.units" >
      <option value="metric">°C</option>
      <option value="imperial">°F</option>
    </select>
    <input type="text" id="city" name="city" class="form-control input" placeholder="Check the 7 day weather forecast for a city"
           ng-model="search.city_hidden" ng-class="{empty:!search.city_hidden.length}" auto-city required>
    <button class="btn btn-primary btn-sm"
            data-loading-text="Loading..." autocomplete="off"
            ng-disabled="form.$invalid || waiting" search-btn>
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </form>
</nav>

<div ng-show="notFoundError" class="alert alert-danger alert-dismissible" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <span class="sr-only">Error:</span>
  <span>This location could not be found</span>
</div>

<div class="jumbotron">
  <div class="welcome">
    <h1>{{timeNow | date:'h:mm'}}<small>{{timeNow | date:'a'}}</small></h1>
    <h2>{{timeNow | date:'H' | greet}}, {{username}}.</h2>
  </div>

  <div id="weekDiv" class="fade-in" ng-show="showWeek()">
    <div>
      <div id="slider" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          <div class="col-xs-10 col-xs-offset-1 item" ng-repeat="w in weathers.list" ng-class="{active:!$index}">
            <div class="col-xs-5">
              <img class="center-block" ng-src="/images/{{w.weather[0].icon}}.png">
            </div>
            <div class="col-xs-7 details">
              <h4>{{w.dt * 1000 | date : 'EEEE, dd MMM yyyy'}}</h4>
              <div>{{weathers.city.name}}, {{weathers.city.country}}</div>
              <div>Forecast for day : {{w.weather[0].description}}</div>
              <div>Low : {{w.temp.min}}{{unitFlag}}</div>
              <div>High : {{w.temp.max}}{{unitFlag}}</div>
            </div>
          </div>
        </div>
      </div>
      <span class="left carousel-control" href="#slider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </span>
      <span class="right carousel-control" href="#slider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </span>
    </div>
  </div>
</div>
